<h1>Editing close ended question</h1>

<%= render "form", close_ended_question: @close_ended_question %>

<br>

<div>
  <%= link_to "Show this close ended question", @close_ended_question %> |
  <%= link_to "Back to close ended questions", close_ended_questions_path %>
</div>
