<p style="color: green"><%= notice %></p>

<h1>Questão fechada</h1>

<div id="close_ended_questions">
  <% @close_ended_questions.each do |close_ended_question| %>
    <%= render close_ended_question %>
  <% end %>
</div>

<%= link_to "Criar nova questão fechada", new_close_ended_question_path %>
