.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid green;*/
  }

.right {
  float: right;
}

/* fix vertical part of elements out of div in right alinment*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full{

    width: 100%;
    height: 100%;
}

/* Add padding to the top of the body so im able to use fixed top in 
the navbar without overlay other elements*/
body { 
  
  padding-top: 70px; 
}

