<%= render 'layouts/navbar_exam'%>

<div class="container mt-2">
    <div class="question bg-white p-3 border-bottom">
        <div class="flex-column justify-content-center align-items-center question-title p-5">
            <%= render "form", exam: @exam %>
        </div>
        <div class="ans ml-2"></div>
    </div>
</div>