<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6 col-lg-6">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Exam creation</h4>
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="flex-row align-items-center question-title">
                        <%= render "form", exam: @exam %>
                    </div>
                    <div class="ans ml-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>