<!-- Footer -->
<section class="fixed-bottom">
    <footer class="text-center text-white" style="background-color: #54c9ff;">
        <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2022 Copyright:
        <a class="text-white" href="#">Plataforma Ensinar, Inc. </a>
        </div>
        <!-- Copyright -->
    </footer>
</section>
<!-- Footer -->