<nav class="navbar bg-light d-flex flex-row justify-content-between" style= "width: 100%" >
    <%= link_to "Voltar", 'javascript:history.back()', style: "width: 25%" %>

    <div style="width: 25%" class="d-flex flex-row justify-content-center"><h3>Exam Name</h3></div>

    <!-- Timer -->
    <div style="width: 25%">
        <p class="navbar-brand center" href="#"></p>
    </div>
</nav>
